<launch>
  <!-- This is the main launch file for the sensor recording -->

  <!-- Launch the RealSense camera node -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <!-- serial_no: Leave empty for the first device found -->
    <arg name="serial_no" value="" />

    <!-- depth_width and depth_height: Set the resolution of the depth sensor -->
    <arg name="depth_width" value="848" />
    <arg name="depth_height" value="480" />

    <!-- color_width and color_height: Set the resolution of the color sensor -->
    <arg name="color_width" value="848" />
    <arg name="color_height" value="480" />

    <!-- color_fps: Set the frame rate of the color sensor -->
    <arg name="color_fps" value="10" />

    <!-- enable_*: Enable or disable specific sensors -->
    <arg name="enable_depth" value="true" />
    <arg name="enable_color" value="true" />
    <arg name="enable_infra1" value="false" />
    <arg name="enable_infra2" value="false" />
    <arg name="enable_fisheye" value="false" />
    <arg name="enable_gyro" value="false" />
    <arg name="enable_accel" value="false" />
    <arg name="enable_pointcloud" value="true" />
    <arg name="enable_sync" value="true" />
    <arg name="align_depth" value="true" />

    <!-- tf_prefix: Set the prefix for the transform frames -->
    <arg name="tf_prefix" value="camera" />

    <!-- unite_imu_method: Set the method for uniting IMU data. Options: 'linear_interpolation',
    'copy' -->
    <arg name="unite_imu_method" value="" />
  </include>

  <include file="$(find livox_ros_driver2)/launch_ROS1/msg_MID360.launch">
  </include>
</launch>