<launch>
  <!-- Add these arguments -->
  <arg name="use_realsense" default="true"/>
  <arg name="use_livox" default="true"/>

  <!-- Conditional launch for RealSense camera node -->
  <group if="$(arg use_realsense)">
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
      <arg name="serial_no" value="" />
      <arg name="depth_width" value="848" />
      <arg name="depth_height" value="480" />
      <arg name="color_width" value="848" />
      <arg name="color_height" value="480" />
      <arg name="color_fps" value="30" />
      <arg name="enable_depth" value="true" />
      <arg name="enable_color" value="true" />
      <arg name="enable_infra1" value="false" />
      <arg name="enable_infra2" value="false" />
      <arg name="enable_fisheye" value="false" />
      <arg name="enable_gyro" value="true" />
      <arg name="enable_accel" value="true" />
      <arg name="enable_pointcloud" value="false" />
      <arg name="enable_sync" value="true" />
      <arg name="align_depth" value="true" />
      <arg name="tf_prefix" value="camera" />
      <arg name="unite_imu_method" value="linear_interpolation" />
      <arg name="filters" value="" />
      <arg name="clip_distance" value="-2" />
      <arg name="linear_accel_cov" value="0.01" />
      <arg name="initial_reset" value="true" />
    </include>
  </group>

  <!-- Conditional launch for Livox driver node -->
  <group if="$(arg use_livox)">
    <include file="$(find livox_ros_driver2)/launch_ROS1/msg_MID360.launch">
      <arg name="xfer_format" value="1"/>
      <arg name="multi_topic" value="0"/>
      <arg name="data_src" value="0"/>
      <arg name="publish_freq" value="10.0"/>
      <arg name="output_type" value="0"/>
      <arg name="rviz_enable" value="false"/>
      <arg name="rosbag_enable" value="false"/>
      <arg name="msg_frame_id" value="livox_frame"/>
      <arg name="lidar_bag" value="true"/>
      <arg name="imu_bag" value="true"/>
      <param name="user_config_path" type="string" value="$(find livox_ros_driver2)/../../config/MID360_config.json"/>
    </include>
  </group>
</launch>
