<launch>
  <!-- This is the main launch file for the sensor recording -->

  <!-- Launch the RealSense camera node -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <!-- serial_no: Leave empty for the first device found -->
    <arg name="serial_no" value="" />

    <!-- depth_width and depth_height: Set the resolution of the depth sensor -->
    <arg name="depth_width" value="640" />
    <arg name="depth_height" value="480" />

    <!-- color_width and color_height: Set the resolution of the color sensor -->
    <arg name="color_width" value="640" />
    <arg name="color_height" value="480" />

    <!-- color_fps: Set the frame rate of the color sensor -->
    <arg name="color_fps" value="30" />

    <!-- enable_*: Enable or disable specific sensors -->
    <arg name="enable_depth" value="true" />
    <arg name="enable_color" value="true" />
    <arg name="enable_infra1" value="false" />
    <arg name="enable_infra2" value="false" />
    <arg name="enable_fisheye" value="false" />
    <arg name="enable_gyro" value="false" />
    <arg name="enable_accel" value="false" />
    <arg name="enable_pointcloud" value="true" />
    <arg name="enable_sync" value="true" />
    <arg name="align_depth" value="false" />

    <!-- tf_prefix: Set the prefix for the transform frames -->
    <arg name="tf_prefix" value="camera" />

    <!-- unite_imu_method: Set the method for uniting IMU data. Options: 'linear_interpolation',
    'copy' -->
    <arg name="unite_imu_method" value="" />
  </include>

  <!-- Launch the Livox LiDAR node -->
  <include file="$(find livox_ros_driver2)/msg_MID360.launch">
    <!-- bd_list: Set the broadcast list for the LiDAR -->
    <arg name="bd_list" value="100000000000000" />

    <!-- xfer_format: Set the transfer format for the LiDAR -->
    <arg name="xfer_format" value="0" />

    <!-- multi_topic: Set the multi-topic mode for the LiDAR -->
    <arg name="multi_topic" value="0" />

    <!-- data_src: Set the data source for the LiDAR -->
    <arg name="data_src" value="0" />

    <!-- publish_freq: Set the publish frequency for the LiDAR -->
    <arg name="publish_freq" value="10.0" />

    <!-- output_type: Set the output type for the LiDAR -->
    <arg name="output_type" value="0" />

    <!-- rviz_enable: Enable or disable RViz visualization -->
    <arg name="rviz_enable" value="true" />

    <!-- rosbag_enable: Enable or disable rosbag recording -->
    <arg name="rosbag_enable" value="false" />

    <arg name="user_config_path" value="../config/sensors/MID360_config.json"/>

  </include>

  <!-- Launch the ROS Bridge Server -->
  <node pkg="rosbridge_server" type="rosbridge_websocket" name="rosbridge_websocket">
    <!-- port: Set the port for the ROS Bridge Server -->
    <param name="port" value="9090" />
  </node>

  <!-- Launch the Recording Control Node -->
  <node pkg="robot_control" type="recording_control.py" name="recording_control" output="screen" />
</launch>